target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
log4j2.xml
steem-api-wrapper.iml
accountDetailsUsedDuringTests.properties

/*.project
/.settings
/sample/*.project
*.classpath
.settings
.settings
*.project
*.classpath
/.gradle/
/build.gradle
/gradle/
/gradlew
/gradlew.bat
/settings.gradle
